{% extends 'base.html.twig' %}

{% block title %}Nueva Historia{% endblock %}

{% block body %}
<div class="story-container">
    <div class="page-card">
        <h1 class="page-title text-center">Subir nueva historia</h1>

        {{ form_start(form) }}

        <div class="mb-3">
            {{ form_label(form.img, 'Imagen de la historia') }}
            {{ form_widget(form.img, { attr: { class: 'form-control' } }) }}
            {{ form_errors(form.img) }}
        </div>

        <button type="submit" class="btn btn-success" >
            Subir Historia
        </button>

        {{ form_end(form) }}

        <p class="mt-4 text-center">
            <a href="{{ path('app_storie_index') }}" class="inline-link">
                Volver a historias
            </a>
        </p>
    </div>
</div>
{% endblock %}
