{% extends 'base.html.twig' %}

{% block title %}Storie{% endblock %}

{% block body %}
<div class="story-container" style="max-width: 500px; margin: 20px auto;">

    <h1 style="text-align: center;">Storie</h1>

    <div class="card" style="border: 1px solid #ddd; border-radius: 10px; overflow: hidden;">

        {% if storie.img %}
            <img src="{{ asset('stories/' ~ storie.img) }}" 
                 alt="Storie image"
                 style="width: 100%; height: auto; display: block;">
        {% endif %}

        <div style="padding: 15px;">

            <p><strong>Fecha:</strong> 
                {{ storie.datetime ? storie.datetime|date('Y-m-d H:i') : '' }}
            </p>

            <p>
                <strong>Subido por:</strong>
                <a href="{{ path('app_user_show', {'username': storie.author.username}) }}">
        {{ storie.author.username }}
    </a>
            </p>

        </div>
    </div>


    <div style="margin-top: 20px; text-align: center;">
        <a href="{{ path('app_storie_user_index', {'username': storie.author.username}) }}" class="btn btn-primary">Volver</a>
    </div>

    <div style="margin-top: 10px; text-align: center;">
        {{ include('storie/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}
