{% extends 'base.html.twig' %}

{% block title %}Historias de {{ username }}{% endblock %}

{% block body %}

<h1 class="stories-page-title">
    Historias de <a class="inline-link" href="{{ path('app_user_show', {'username': username}) }}">{{ username }}</a>
</h1>

<div class="stories-grid">
    {% for storie in stories %}
        <a href="{{ path('app_storie_show', {'id': storie.id}) }}" class="story-card">
            <div class="story-card__inner">
                <div class="story-card__thumb">
                    <img src="{{ asset('stories/' ~ storie.img) }}" alt="Story image">
                </div>
                <p class="story-card__time">
                    {{ storie.datetime|date('d/m/Y H:i') }}
                </p>
            </div>
        </a>
    {% else %}
        <p>Este usuario no tiene historias activas.</p>
    {% endfor %}
</div>

<p class="mt-4">
    <a href="{{ path('app_storie_index') }}" class="btn btn-secondary btn-sm">
        Volver a usuarios
    </a>
</p>
{% endblock %}
