{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

<div class="story-container">

    <h1 class="page-title">Post</h1>

    <div class="story-box">

        {% if post.img %}
            <img src="{{ asset('img/' ~ post.img) }}" class="story-image">
        {% endif %}

        <p><strong>Texto:</strong> {{ post.text }}</p>

        <p><strong>Fecha:</strong> {{ post.postDate|date('Y-m-d H:i') }}</p>

    </div>

    <div class="story-actions">
        <a class="btn-primary btn-sm" href="{{ path('app_post_index') }}">Volver</a>

        {% if app.user and app.user == post.author %}
            {{ include('post/_delete_form.html.twig') }}
            <a class="btn-primary btn-sm" href="{{ path('app_post_edit', {'id': post.id}) }}">Editar</a>
        {% endif %}
    </div>

</div>

{% endblock %}
