{{ form_start(form) }}
    {{ form_row(form.username) }}

    {# Solo intentamos pintar isPrivate si existe en el form #}
    {% if form.isPrivate is defined %}
        {{ form_row(form.isPrivate) }}
    {% endif %}

    <button class="btn">
        {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}
